1/node_modules
Blogify/node_modules
Multer/node_modules
REST API/node_modules
URL SHORTNER/node_modules

git rm -r --cached 1/node_modules
git rm -r --cached Blogify/node_modules
git rm -r --cached Multer/node_modules
git rm -r --cached REST\ API/node_modules
git rm -r --cached URL\ SHORTNER/node_modules
